.navbar {
  position:initial;
  top: 0;
  bottom: 92%;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #444;
  padding: 10px;
  text-align: center;
}
 
  .navbar ul {
    list-style: none;
    padding: 0;
  }
  
  .navbar li {
    display: inline;
    margin: 0 10px;
  }
  
  .navbar button {
    background: none;
    border: none;
    padding: 0;
  }
  
  .navbar h2 {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
  }


.navbarsFixed {
    position: fixed;
    opacity: 1;
    width: 100%;
    height: 11%;
}

.navbar li:hover {
  background: #333;
  opacity: 0.5;
}